a:hover {
    text-decoration: none;

}

.navbar {
    background-color: #fff;
    border: none;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 90px;
    text-transform: capitalize;
    border-bottom: 1px solid #aaaaaa;
}

.navbar-toggle {
    position: relative;
    margin-top: 40px;
    top: 10px;
    left: 10px;
}

.navbar-nav {
    padding-right: 10px;
    margin-top: 20px;
    background-color: #fff;
}

.navbar-nav li {
    margin: 0 20px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff8000;
}

body {
    padding-top: 90px;
}

.container-fluid {
    padding: 0;
}

.control {
    position: inherit;
    top: 40%;
    z-index: 5;
    display: inline-block;
    right: 50%;
}

@media (max-width: 320px) {
    .navbar-brand img { width: 80%; height: auto; margin-top: -100px;}

}

@media (max-width: 980px) {
    .navbar-nav li {margin: 0 10px;}
}

.service {
    margin: 40px 0;
}

.service a {
    display: block;
}

.icons {
    float: left;
    display: block;
    font-size: 30px;
    color: #fff;
    background-color: #ff8000;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    padding: 20px;
    border: 4px solid #ff8000;
    transition: all 0.3s;
}

.service a:hover .icons {
    background-color: #0080c0;
}

@media (min-width: 768px) {
    .icons {
        margin: 0 auto;
        position: relative;
        left: 30%;
    }
    
    .icontext h4 {
        text-align: center;
    }
}

@media (max-width: 360px) {
    .icontext p {
        display: none;
    }

    .icontext h4 {
        display: none;
    }

    .control {
        display: none;
    }
}

header {
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header small {
    color: #fff;
}

.content1 {
    background: url(total/slide1_bg.jpg) no-repeat top fixed;
    background-size: cover;
}

.about p {
    line-height: 1.8em;
    font-size: 15px;
    color: #282923
}

.book {
    margin-left: 10px;
}

.book2, .book3, .book4 {
    position: relative;
    float: left;
}

.book2 {
    z-index: 1;
}

.book3 {
    z-index: 10;
    margin-left: -130px;
}

.book4 {
    z-index: 20;
    margin-left: -130px;
}

